In [1]:
class employ:
    name= None
    sal=0.00
    department=None
rishabh= employ()

In [3]:
rishabh.name="rishabh"

#creating properties outside class
rishabh.bonus=10000

In [4]:
print(rishabh.bonus)

10000

In [2]:
print(rishabh)

None

In [4]:
id(rishabh)

56919536

In [5]:
type(rishabh)

__main__.employ

In [6]:
rishabh.name= "Rishabh sharma"
rishabh.sal= 10000000.00
rishabh.department="sde"

In [9]:
print(f"{rishabh.name} {rishabh.sal} {rishabh.department}")

Rishabh sharma 10000000.0 sde

In [15]:
raju= employ()
raju.name, raju.sal, raju.department= input().split()
raju.sal=int(raju.sal)

raju 14 pn

In [16]:
raju.name

'raju'

In [17]:
raju.sal

14

In [15]:
class student:
    def __init__(self, name, roll):
        self.name= name
        self.roll= roll
    def show(self):
        print("Name is ",self.name," and roll is ",self.roll)
        print(self)
rishabh= student("rishabh",2181) 
# ram= student("ram")
rishabh.show()

Name is  rishabh  and roll is  2181
<__main__.student object at 0x05A57B70>

In [2]:
class mobile:
    def __init__(self,name=None,model=None,price=None):
        print("initializing constructer...")
        self.name= name
        self.model= model
        self. price= price
    def purchase(self):
        print("In purchase")
        if self.name=="apple":
            self.price= self.price-1000
        print(f"Name is {self.name} model is {self.model} and price is {self.price}")
        
apple= mobile("apple","xs",150000)      
apple.purchase()
apple.price= 100000
apple.purchase()

samsung= mobile(model="galaxy10" ,price=10000)
samsung.purchase()

initializing constructer...
In purchase
Name is apple model is xs and price is 149000
In purchase
Name is apple model is xs and price is 99000
initializing constructer...
In purchase
Name is None model is galaxy10 and price is 10000

In [25]:
class arith:
    def sum(self,a,b):
        return a+b
ob= arith()
print(ob.sum(2,3))

5

a,b,c,d= list(map(int,input().split()))

In [27]:
d

4

In [18]:
class car:
    def __init__(self,color,engine):
        self.color=color
        self.engine=engine
    def purchase(self):
        print(f"color= {self.color} and engine= {self.engine}")
class audi(car):
    def __init__(self,color,engine,airbag):
        car.__init__(self,color,engine)
        self.airbag= airbag

    def show(self):
        print("has ",self.airbag," airbags")

obj= audi('red','550cc',4)              
obj.show()        
obj.purchase()

has  4  airbags
color= red and engine= 550cc

In [48]:
class vehicle:
    def __init__(self,make,color):
        self.make= make
        self.color= color
    def show(self):
        print("make=",self.make)
        print("color=",self.color)
class car(vehicle):
    def __init__(self,make,color,wheels):
        vehicle.__init__(self,make,color)
        self.wheels=wheels
    def showcar(self):
        print(self.make)
        print("wheels=",self.wheels)
ob= car("audi","black",4)
ob.show()

make= audi
color= black

In [25]:
class ab:
    def hello(self):
        print("hi")
    def show(self):
        self.hello()
a= ab()
a.show()

hi

In [42]:
class adult:
    age=10
    def showage(self):
        print(self.age)
class infant(adult):
    age1=5
    def show(self):
        print(self.age1)
        super().showage()
ob= infant()
ob.show()

5
10

In [44]:
class vehicle:
    def __init__(self,make,color):
        self.make= make
        self.color= color
    def show(self):
        print("make=",self.make)
        print("color=",self.color)
class car(vehicle):
    def __init__(self,make,color,wheels):
        super().__init__(make,color)
        self.wheels=wheels
    def showcar(self):
        print(self.make)
        print("wheels=",self.wheels)
ob= car("audi","black",4)
ob.show()

make= audi
color= black

In [4]:
class a:
    def disp(self):
        print("a")
class b(a):
    def fun(self):
        super().disp()
        print("b")
o= b()
o.fun()

a
b

In [6]:
class a:
    def fun1(self):
        print("class a")
class b:
    def fun2(self):
        print("class b")
class c(a,b):
    def fun3(self):
        print("class c")   
ob=c()
print(ob.fun1())
print(ob.fun2())
print(ob.fun3())

class a
None
class b
None
class c
None

In [22]:
class bank:
    def __init__(self,acc,name):
        self.__account=acc      #private member
        self.name= name             #public member
    def display(self):
        print(self.name)
        print(self.__account)
ob= bank(2210,"rishabh")        
print(ob.name)
# print(ob.__account)
ob.display()
print("=========after change==========")
ob.name="rishabh sharma"
ob.display()
print("=========after change==========")
ob.__account=1111
ob.display()

print("=========after change==========")
print(ob._bank__account)
print("=========after change==========")
ob._bank__account=5555
print(ob._bank__account)
print("=========after change==========")
ob.display()

rishabh
rishabh
2210
=========after change==========
rishabh sharma
2210
=========after change==========
rishabh sharma
2210
=========after change==========
2210
=========after change==========
5555
=========after change==========
rishabh sharma
5555

In [2]:
class player:
    team="india"
    def __init__(self,name):
        self.name=name
    def disp(self):
        print(self.name)
        
    @classmethod
    def teamname(cls):
        print(cls.team)
    @classmethod
    def change_team(cls,new_name):
        cls.team= new_name
ob= player("messi")        
ob.disp()
ob.teamname()

ob.team="barcelona"
print("=========after change==========")
ob.teamname()
print(ob.team)
print("=========after change==========")
ob.change_team("spain")
ob.teamname()

messi
india
=========after change==========
india
barcelona
=========after change==========
spain

In [60]:
class health:
    def __init__(self,hieght,wieght):
        self.hieght=hieght
        self.wieght=wieght
    @staticmethod
    def bmi( hieght,wieght):
        res= hieght/(wieght**2)
        print(res)
    def disp(self):
        print(self.hieght)
        print(self.wieght)
        
   
ob= health(181,80)
ob.disp()
ob.bmi(181,80)
health.bmi(181,80)

181
80
0.02828125
0.02828125

In [70]:
class user:
    def __init__(self,name):
        self.__username= name
    def set(self,new_name):
        self.__username=new_name
    def get(self):
        print(self.__username)

rishabh= user("rishabh") 
rishabh.get()
rishabh.set("jonas")
rishabh.get()

rishabh
jonas

In [7]:
class india:
    def language(self):
        print("hindi")
class usa:
    def language(self):
        print("english")
ind= india()
us= usa()
ind.language()
us.language()

for lang in[ind,us]:
    lang.language()

hindi
english
hindi
english

In [10]:
class bird:
    def intro(self):
        print("i am bird")
    def fly(self):
        print("I may or may not fly")
class sparrow(bird):
    def fly(self):
        print("i can fly")
class duck(bird):
    def fly(self):
        print("i can't fly ")
b=bird()
s=sparrow()
d=duck()
b.fly()
s.fly()
d.fly()
d.intro()

I may or may not fly
i can fly
i can't fly
i am bird

In [14]:
class arith:
    def sum(self, a,b):
        return a+b
ob= arith()
print(ob.sum(1,2))
print(ob.sum("rishabh"," sharma"))

3
rishabh sharma

In [18]:
class arith:
    def sum(self, a,b,c=None):
        if c!=None:
            return a+b+c
        return a+b
ob= arith()
print(ob.sum(1,2))
print(ob.sum(1,2,3))
print(ob.sum("Rishabh"," sharma"))

3
6
Rishabh sharma

In [19]:
class node:
    def __init__(self,key):
        self.data=key
        self.next=None


class linklist:
    def __init__(self):
        self.head=None

    # INSERTION AT BEGINING    
    def insert_at_begining(self,key):
        new_node= node(key)
        new_node.next= self.head
        self.head= new_node
    def print_list(self):
        temp= self.head
        while temp!=None:
            print(temp.data,end=" ")
            temp=temp.next
    def fun(self):
        temp= self.head
        print(temp.next.next.data)
    def delete(self,val):
        temp=self.head
        while temp.next.data!=val:
            temp=temp.next
        temp.next= temp.next.next

In [20]:
my_list= linklist()
my_list.insert_at_begining(12)
my_list.insert_at_begining(15)
my_list.insert_at_begining(29)
my_list.insert_at_begining(39)
my_list.insert_at_begining(49)
my_list.insert_at_begining(59)

my_list.print_list()

59 49 39 29 15 12

In [21]:
my_list.delete(39)
my_list.print_list()

59 49 29 15 12