In [3]:
print(2^3)

1

In [4]:
lst=[1,2,3,1,2,4,5,4,5]
xor=0
for i in lst:
    xor= xor^i
print(xor)

3

In [5]:
print("%d is two"%2)

2 is two

In [7]:
for i in range(1,11):
    print("%dX%d=%d"%(5,i,(5*i)))

5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [8]:
print("Welcome {}".format("Rishabh"))

Welcome Rishabh

In [10]:
name='rishabh'
age=20
print(f"name is {name} and age is {age}")

name is rishabh and age is 20

In [11]:
a=input()
b=input()
print(a+b)

12
12
1212

In [12]:
a=int(input())
b=int(input())
print(a+b)

12
12
24

In [15]:
st="This$is$a$string"
st=st.split("$")
print(st)

['This', 'is', 'a', 'string']

In [17]:
type(st)

list

In [18]:
str(st)

"['This', 'is', 'a', 'string']"

In [19]:
str(st)[0]

'['

In [20]:
st

['This', 'is', 'a', 'string']

In [22]:
st2=""
for i in st:
    st2=st2+" "+i
print(st2)

 This is a string

In [27]:
a= list(int(i) for i in input().split())
print(a)

23 23 23
[23, 23, 23]

In [1]:
b,d= (input().split())

1 2

In [31]:
b

'1'

In [32]:
d

'2'

In [38]:
array= list(float(i) for i in input().split())

1 2 3 4 5

In [39]:
array

[1.0, 2.0, 3.0, 4.0, 5.0]

In [40]:
type(array[0])

float

In [3]:
name, age= input().split()
age=int(age)
print("Name is {} and age is {}".format(name,age))

rishabh 20
Name is rishabh and age is 20

In [43]:
type(age)

int

In [56]:
for i in range(5):
    for j in range(5-i-1):
        print(" ",end="")
    for k in range(i+1):
        print("*",end="")
    print(end="\n")

    *
   **
  ***
 ****
*****

In [57]:
shopping=[[12,23,34],["rishabh","ashok","kamini"],['p','b','c']]

In [59]:
shopping[0][2]

34

In [60]:
print(shopping)

[[12, 23, 34], ['rishabh', 'ashok', 'kamini'], ['p', 'b', 'c']]

In [64]:
for i in shopping:
    for j in i:
        print(j,end=" ")
    print(end="\n")

12 23 34
rishabh ashok kamini
p b c

In [65]:
l=[[[1,2],[3,4]],[['a','b'],['c',d]]]

In [66]:
l

[[[1, 2], [3, 4]], [['a', 'b'], ['c', '2']]]

In [2]:
def area_circle(r):
    return 3.14*(r**2)
r= int(input("Enter radius"))
print("Area= {}".format(area_circle(r)))
print(f"Area= {area_circle(r)}")

Enter radius1
Area= 3.14
Area= 3.14

In [4]:
max([1,2,3,4])

4

In [5]:
min([1,2,3,4])

1

In [6]:
def max_min(arr):
    max1=arr[0]
    min1=arr[0]
    for i in arr:
        if i>max1:
            max1=i
        if i<min1:
            min1=i
    return f"Maximum={max1} and minimum={min1}"   

max_min([1,4,2,6,5])

'Maximum=6 and minimum=1'

In [7]:
def fact(num):
    prod=1
    for i in range(1,num+1):
        prod=prod*i
    return prod
print(fact(int(input())))

5
120

In [13]:
def isprime(num):
    flag= True
    if num==2:
        return True
    else:
        for i in range(2,num//2):
            if num%2==0:
                return False
    return flag
print(isprime(int(input())))

12
False

In [4]:
m=[]
for i in range(3):
    l= list(map(int,input().split()))
    m.append(l)

1 2 3
4 5 6
7 8 9

In [5]:
print(m)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [8]:
two_d= [list(map(int,input().split())) for i in range(3)]

1 2 3
4 5 6
7 8 9

In [9]:
print(two_d)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
l= [list(int(i) for i in input().split()) for i in range(3)]

1 2
2 3
3 4

In [15]:
l

[[1, 2], [2, 3], [3, 4]]

In [16]:
l2= list(map(int,input().split()))
l2.sort()
print(l2[len(l2)//2])

1 2 3 4 5
3

In [2]:
c=0
k=3
l=[1,4,2,3,5,6]
for i in range(len(l)-1):
    for j in range(i+1,len(l)):
        if (l[i]+l[j])%k==0:
            c+=1
print(c)

5

In [3]:
d= dict()
for i in range(len(l)):
    rem= l[i]%k
    if rem in d:
        d[rem]+=1
    else:
        d[rem]=1
print(d)

{1: 2, 2: 2, 0: 2}

In [4]:
4%3

1

In [5]:
2%3

2

In [14]:
a= [45 for i  in range(55)]

In [18]:
l=[]
for i in range(3):
    a= list(map(int,input().split()))
    l.append(a)
print(l)

1 2 3
4 5 6
7 8 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
tl= [list(map(int, input().split())) for i in range(3) ]

1 2 3
4 5 6
7 8 9

In [20]:
print(tl)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [23]:
l=[[0 for i in range(4)] for i in range(4)]
print(l)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [2]:
type(input().split())

12

list

In [5]:
a,b,d=[1,2,3,4]

ValueError: too many values to unpack (expected 3)

In [4]:
b

2